<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'jams/style.css' %}">
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <script type="text/javascript" src="{% static 'jams/open_tok.js' %}"></script>
  {% block title %}<title>Open Jam</title>{% endblock %}
</head>
<body>
  {% block sidebar %}
    <a href="{% url 'index' %}" ><h1>Home</h1></a>
    {% if user.is_authenticated %}
      <li>Hey {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
      <li><a href="/register" >Register</a></li>
    {% endif %}
  {% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>