{% extends "base_generic.html" %} {% load render_bundle from webpack_loader %}
{% block content %}
<div id="app">
  <Root
    api-key="{{ api_key }}"
    current-user="{{ current_user }}"
    jam="{{ jam }}"
    opentok-token="{{ opentok_token }}"
  >
    {% if jam_role.name == 'moderator' %}
    <Moderator
      slot-scope="modScope"
      :current-user="modScope.currentUser"
      :jam="modScope.jam"
      :opentok-session="modScope.opentokSession"
      :user-lists="modScope.userLists"
    />
    {% elif jam_role.name == 'publisher' %}
    <h1>Publisher</h1>
    <Publisher
      slot-scope="pubScope"
      :current-user="pubScope.currentUser"
      :jam="pubScope.jam"
      :opentok-session="pubScope.opentokSession"
    />
    {% else %}
    <!-- <Subscriber
      slot-scope="subScope"
      :current-user="subScope.currentUser"
      :jam="subScope.jam"
      :opentok-session="subScope.opentokSession"
    /> -->
    {% endif %}
  </Root>
</div>
{% render_bundle 'main' %} {% endblock %}
